<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-devour="{{sleep}}">
		{{#if sleep}}READY!{{else}}ORDER UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DEVOUR!</button>
</li>
